body {
    background-color: rgb(121, 95, 120);
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight {
    background-color: rgb(39, 143, 125);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(92, 60, 2);
}

table {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid;
}

tr.active td {
    background-color: rgb(100, 0, 32);
    color: white;
}
